  {% extends 'base.html' %}
{% load i18n %}
  {% block content %}

     <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ product.name }}
                    <small>Explain Your Work</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active"><a href="/products/{{ product.category.slug }}/"> {{ product.category }}</a></li>
                    <li class="active"><a href="/products/{{ product.category }}/{{ product.slug }}/"> {{ product.name }}</a></li>
                    <li class="active">Cancel produce</li>
                </ol>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8">

                I whant cancel produce that product
                <form action="" method="get">
                    Are you sure?
                    <input type="checkbox" value="1" name="agree">
                    {% csrf_token %}
                    <input type="submit" value="Ok">
                </form>
            </div>
        </div>
    </div>

  {% endblock %}