  {% extends 'base.html' %}
{% load staticfiles %}
{% block doplinks %}
    <link href="{% static "css/custom_style.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
  {% block content %}
       <div class="container">

        <div class="row">

            {% include "accountbase.html" %}

            <div class="col-md-9 col-sm-8">
                <h1 class="page-header">Sidebar Page
                    <small>For Deeper Customization</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="main_site/index.html">Home</a>
                    </li>
                    <li class="active">Full Width Page</li>
                </ol>

                <div class="col-md-14">

                <div class="form-box">
                {% if product %}
                     <div class="col-md-1 pull-right">
                        <form action="{% url 'main_site:product-del' product.id   %}" method="get">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            {% csrf_token %}
                        </form>
                     </div>
                {% endif %}
                    <h3 class="title">Registered Customers</h3>
                    <p>If you have an account with us, please log in.</p>
                <form action="" method="post">
                {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <label for="lastname">{{ form.name.label }}</label>
                                {{ form.category.error }}
                                <div class="input-box">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <label for="firstname">{{ form.category.label }}</label>
                                <div class="input-box">
                                    {{ form.category }}
                                </div>
                            </div>
                        </div>
                        {{ form.description.label }}
                        {{ form.description }}
                        {{ form.designer_price.label }}<br>
                        {{ form.designer_price }}
                    <div class="buttons-box clearfix">
                            <span class="required"><b>
                            {% if form.errors %}
                            {{ form.errors }}
                             {% endif %}</b></span><br>
                    <input type="hidden" name="id" value="{{ product.id }}">
                        <button type="submit" class="btn btn-primary pull-right" title="Submit"><span>Next </span><span class="glyphicon glyphicon-arrow-right"></span> </button>
                        </form>
                        <div class="col-md-1 pull-left">
                            <button type="button" class="btn btn-primary" onclick="window.location='/products/{{ prod_cat }}/{{ prod_slug }}'">
                                <span class="glyphicon glyphicon-arrow-left"></span><span>Back to Product </span>
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
                    </div>

                </div>

        <!-- /.row -->

    </div>
  {% endblock %}