{% load staticfiles %}
{% for i in all_data %}
{{ i }}
    <br>
{% endfor %}
{{ all_data }}
{{ all }}
<script>
$(document).ready(function() {
    var max_fields      = 4; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
   
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div><select type="" name="mytext">\
                                <option value="al">Alumin</option>\
                                <option value="wo" selected="selected">Wood</option>\
                                <option value="pl">Plastik</option>\
                                <option value="me">Metal</option>\
                                </select><a href="#" class="remove_field">Remove</a></div>'); //add input box
        }
    });
   
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>
<form action="">
<div class="input_fields_wrap">
    <button class="add_field_button">Add More Fields</button>

    <div>
        <select type="" name="mytext">
            <option value="al" selected="selected">Alumin</option>
            <option value="wo" selected="selected">Wood</option>
            <option value="pl" selected="selected">Plastik</option>
            <option value="me" selected="selected">Metal</option>
        </select>
    </div>
</div>
<button type="submit">Click</button>
</form>

<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

<!-- Change /upload-target to your upload address -->
<form action="" class="dropzone"></form>
