<!DOCTYPE html>
<html lang="en">
<head>
<title>
{% block title %}
{% endblock %}
</title>
<head>
{% block head %}
{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'edg:parcer' %}">Ikea Parser</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'edg:parcer' %}">Parser</a></li>
      <li><a href="{% url 'edg:orders' %}">Order's list</a></li>
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}

</body>
</html>