{% extends 'edg/base.html' %}
{% block title %}
    Ikea parcer
{% endblock %}
{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <style>
        td
        {
            height: 50px;
            width:50px;
        }
        .cssTable td
        {
            text-align:center;
            vertical-align:middle;
        }
        table th
        {
            text-align:center;
            vertical-align:middle;
            font-size: 11px;
        }
        label
        {
            font-size: 11px;
        }
        #currency
        {
            width: 60px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-2 pull-right">
        <button type="submit" form="invoce_form" formaction="" class="btn btn-default">Save <i class="glyphicon glyphicon-floppy-disk"></i> </button>
    </div>
    <br>
    <hr>
</div>
    <div class="row">
        <div class="col-sm-3 pull-right">
            <form>
                <input type="text" id="currency" value="0.2">
                <button id="cur_pl" type="button" class="btn btn-default">to <i class="glyphicon glyphicon-eur"></i> </button>
            </form>
            <form id="invoce_form" method="post">
                <label>Costumer's name</label>
                <input type="text" name="name" required id="order" value="{{ fields_data.name }}">
                <label>Costumer's email</label>
                <input type="email" name="email" required value="{{ fields_data.email }}">
                <label>Costumer's phone</label>
                <input type="text" name="phone" required value="{{ fields_data.phone }}"><br>
                <label>Paid</label>
                <input id="id_is_paid" name="is_paid" type="checkbox" value="{{ fields_data.is_paid }}"><br>
                <label>Saved Price: {{ fields_data.price }} Parsed price: </label>
                <input name="price" id="id_price" step="0.01" required="" type="number" value="{{ fields_data.price }}">
                <input type="hidden" name="articles" value="{{ fields_data.articles }}" id="hidden_articles">
                {% csrf_token %}
                <button type="submit" class="btn btn-default" formaction="{% url "edg:invoce" %}" id="save_btn">Create invoce <i class="glyphicon glyphicon-list-alt"></i></button>
            </form>

        </div>

<div class="col-sm-9">

<form action="">
    <label>Enter articles here. Ex: 70193321</label>
<textarea id="textarea_art" name="articles" style="width: 100%; height: 250px;" required="required">{% if articles %}{{articles|cut:" "}}{% elif fields_data.articles %}{{fields_data.articles|cut:" "}}{% endif %}</textarea>
    <br>
<button type="submit" class="btn btn-primary pull-right" id="button-get-data" style="width: 100%">Get data</button>
</form>
</div>
        <div class="col-md-12">
        <br>
        {% if data %}
    <table style="width:100%; text-align:center; vertical-align:middle;" border="1" id="main_table">
     <thead>
  <tr>
    <th class="cssTable">Name</th>
    <th id="cssTable">Type Original Lt</th>
    <th id="cssTable">Price Lithiania, €</th>
    <th id="cssTable">Available Lithuania</th>
    <th id="cssTable">Price Poland, PLN</th>
    <th id="cssTable">Available Poland</th>
    <th id="cssTable">Article</th>
    <th id="cssTable">Prod quantity</th>
    <th id="cssTable"><a href="https://secure.ikea.com/webapp/wcs/stores/servlet/Logon?storeId=19&langId=-27&logonId=alby.sv%40ya.ru&logonPassword=shpeonka1&rememberMe=true&previousCommand=logon&identitySignature=03gsXdE%2BkCBiftGGgtQCJJkiwss%3D&isContactMethodPresent=true&URL=MyProfile&DM_PersistentCookieCreated=true" target="_blank">To Pl list</a></th>
  </tr>
 </thead>
    <tfoot>
    <tr align="center">
      <td><b>Sum</b>(LT price:)</td>
      <td><b><div id="result"></div></b></td>
    </tr>
  </tfoot>
    <tbody>
       {% for row in data %}
        <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td><a href="http://www.ikea.com/lt/lt/catalog/products/{{row.6}}"  target="_blank"><div class="price_lt">{{row.2}}</div></a></td>
            <td>{{row.3}}</td>
            <td><a href="http://www.ikea.com/pl/pl/catalog/products/{{ row.6 }}" id="price_pl" target="_blank"><div class="price_pl">{{row.4}}</div></a></td>
            <td>{{row.5}}</td>
            <td>{{row.6}}</td>
            <td><input type="text" value="1" style="width: 50px" class="{{row.6}}"></td>
            <td><button type='submit'
                    class='btn btn-danger'
                    name="{{row.6}}">
            <span class='glyphicon glyphicon-shopping-cart'></span>
            </button></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
        {% endif %}
        </div>
</div>
    <script>
        $( "#cur_pl" ).on( "click", function() {
        $(".changed_cur").remove();
          var cur_cur = $( "#currency" ).val();
          $(".price_pl").each(function() {
            var value = $(this).text();
            // add only if the value is number
            if(!isNaN(value) && value.length != 0) {
                cur_val = parseFloat(value) * cur_cur;
                cur_val=Math.round(cur_val*100)/100;
                $('<b><div class="changed_cur">'+cur_val+' €</div></b>').insertAfter($(this));
{#                $(this).append('<b><div>'+cur_val+'</div></b>');#}
            }
            });
        });
$(window).bind('load', function(){
        var sum = 0;
        $('.price_lt').each(function() {
            sum += Number($(this).text());
        });
        sum=Math.round(sum*100)/100;
        // here, you have your sum
    $('#result').text(sum);
    $('#id_price').val(sum);
});
    $(".btn-danger").click(function () {
    var fileName=$(this).attr('name');
    var class_val = "."+fileName;
    var quantity = $(class_val).val();
    $.get('/edg/add-to-list/', 'quantity='+quantity+'&item='+fileName);
    $(this).before("<span class=pull-right>Added to Poland's list</span>")
    $(this).hide();
  });

     </script>
    <script>
        $("#invoce_form").submit(function() {
  $("#hidden_articles").val($("#textarea_art").val());
});
    </script>
</div>
{% endblock %}